---
interface Props {
	title: string;
	course: string;
    course1: string;
    course2: string;
    course3: string;
    course4: string;
    course5: string;
    course6: string;
    course7: string;
}
const { title, course, course1,course2, course3, course4, course5, course6, course7 } = Astro.props;
---
<ul>
    <span 
    class="text-base opacity-70"
    >
        {title}
    </span>
    <li 
    class="w-full my-2 text-start flex items-center self-center text-sm">
        {course}
        {course1}
        {course2} 
        {course3} 
        {course4} 
        {course5} 
        {course6} 
        {course7}
    </li>
</ul>