---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Hero/Header.astro';
import Biobtns from '../components/Hero/Biobtns/Biobtns.astro';
import Bio from '../components/Hero/Bio/Bio.astro';
import Card from '../components/Proyects/Card.astro';
import SkillsCard from '../components/SkillCards/SkillsCard.astro'
import AcademicCard from '../components/SkillCards/AcademicCard.astro'
import Form from '../components/Footer/Form.astro';

import {proyectStructure} from '../components/Proyects/cardsContent'
import {stack, currentLearning} from '../components/SkillCards/techsContent'
import { academic } from '../components/SkillCards/academicContent';


const proyects = proyectStructure
const techsStack = stack
const currentLearningStack = currentLearning
const academics = academic
---

<Layout title="rendn portfolio">
	<Header/>
	<main>
		<div class="resume">
			<Biobtns value="Descargar CV"/>
			<Bio content=
				"Bienvenido a mi portafolio! soy Miguel Rend칩n, mejor conocido como 'micky'. Soy un desarrollador web Front end con m치s de dos a침os de experiencia me especializo en dise침o y desarrollo web, Posicionamiento web(SEO) y marketing digital. Soy un chico Colombiano 游뻟릖 que viaja por el mundo, apasionado por la fotograf칤a, el dise침o y los deportes. En mis tiempos libres traduzco articulos de programaci칩n al espa침ol para FreeCodeCamp."
			/>
			<section 
			role="list"
			class="link-card-grid"
			title="portfolio section">
				<!--proyects -->
				{
					proyects?.map(
						({title, content, imgAlt, bkgImage, iconImage, buttons}) => (
							<Card
								title={title}
								content={content}
								altImg={imgAlt}
								background={bkgImage}
								icon={iconImage}
								demoUrl={buttons.demoURl}
								repoUrl={buttons.repoURl}
							/>
						)
					)
				}
			</section>
			<article class="technologies py-4 px-8 rounded-md block shadow-2xl shadow-amber-600">
				<h4>Tecnolog칤as</h4>
				<ul class="mt-4 w-full h-auto overflow-clip flex flex-row flex-wrap justify-start">

					{
						techsStack?.map(({name, url}) => (
							<SkillsCard
							icon={url}
							name={name}
							/>
						))
					}
				</ul>
				<h4 class="mt-8 mb-4">Actualmente aprendiendo</h4>
				<ul class="mt-4 w-full h-auto overflow-clip flex flex-row flex-wrap justify-start">
					{
						currentLearningStack?.map(({name, url}) => (
							<SkillsCard
							icon={url}
							name={name}
							/>
						))
					}
				</ul>
			</article>
			<article class="academic py-4 px-8 rounded-md block shadow-2xl shadow-amber-600">
				<h4>Acad칠mico</h4>
				<!-- <ul class="mt-4 w-full h-auto overflow-clip flex flex-row flex-wrap justify-start"> -->
					{
						// FIXME, no renderizan los curos correectamente
						academics?.map(({title, courses }) => (
							<AcademicCard
								title={title}
								courses={courses.platziFSWD}
							/>
						))
					}
			</article>
		</div>
	</main>
	<footer>
		<Form 
			title='Ponte en contacto'
			name='Nombre'
			email='email'
			textarea='Deja tu mensaje'
			submit='Env칤ar'
		/>
	</footer>
</Layout>

<style>
	main, footer {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>