---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Hero/Header.astro';
import Biobtns from '../components/Hero/Biobtns/Biobtns.astro';
import Bio from '../components/Hero/Bio/Bio.astro';
import Card from '../components/Proyects/Card.astro';
import SkillsCard from '../components/SkillCards/SkillsCard.astro'
import AcademicCard from '../components/SkillCards/AcademicCard.astro'
import Form from '../components/Footer/Form.astro';

import {proyectStructure} from '../components/Proyects/cardsContent'
import {stack, currentLearning} from '../components/SkillCards/techsContent'
import { academic } from '../components/SkillCards/academicContent';


const proyects = proyectStructure
const techsStack = stack
const currentLearningStack = currentLearning
const academics = academic
---

<Layout title="rendn portfolio">
	<Header/>
	<main class="md:max-w-[900px]">
		<div class="resume">
			<div class="mb-8">
				<Biobtns
				value="Descargar CV"/>
				<Bio 
				title='¡Hola!'
				content=
				"Bienvenido a mi portafolio! soy Miguel Rendón, mejor conocido como 'micky'. Soy un desarrollador web Front end con más de dos años de experiencia me especializo en diseño y desarrollo web, Posicionamiento web(SEO) y marketing digital. Soy un chico Colombiano 🇨🇴 que viaja por el mundo, apasionado por la fotografía, el diseño y los deportes. En mis tiempos libres traduzco articulos de programación al español para FreeCodeCamp."
				/>
			</div>
			<section 
			role="list"
			class="link-card-grid "
			title="portfolio section">
				<!--proyects -->
				{
					proyects?.map(
						({title, content, imgAlt, bkgImage, iconImage, buttons}) => (
							<Card
								title={title}
								content={content}
								altImg={imgAlt}
								background={bkgImage}
								icon={iconImage}
								demoUrl={buttons.demoURl}
								repoUrl={buttons.repoURl}
							/>
						)
					)
				}
			</section>
			<section class="md:flex md:flex-row gap-x-4">
				<article class="technologies mt-16 py-4 px-8 block card md:w-1/2">
					<h4>Tecnologías</h4>
					<ul class="mt-4 w-full h-auto overflow-clip flex flex-row flex-wrap justify-start">
	
						{
							techsStack?.map(({name, url}) => (
								<SkillsCard
								icon={url}
								name={name}
								/>
							))
						}
					</ul>
					<h4 class="mt-8 mb-4">Actualmente aprendiendo</h4>
					<ul class="mt-4 w-full h-auto overflow-clip flex flex-row flex-wrap justify-start">
						{
							currentLearningStack?.map(({name, url}) => (
								<SkillsCard
								icon={url}
								name={name}
								/>
							))
						}
					</ul>
				</article>
				<article class="academic mt-16 py-4 px-8 block card md:w-1/2">
					<h4>Académico</h4>
						{
							academics?.map(({title, courses}) => (
									<AcademicCard
										title={title}
										course={courses.platziFSWD}
										course1={courses.platziUI}
										course2={courses.fswd}
										course3={courses.html}
										course4={courses.js}
										course5={courses.git}
										course6={courses.sql}
										course7={courses.eng}
									/>
								)
							)
						}
				</article>
			</section>
		</div>
	</main>
	<footer class="md:grid md:place-items-center md:grid-cols-2 md:gap-x-8">
		<img src="assets/mailbox.svg" alt="mailbox-img" class="hidden md:block md:w-full md:h-full">
		<Form 
			title='Ponte en contacto'
			name='Nombre'
			email='email'
			textarea='Deja tu mensaje'
			submit='Envíar'
		/>
	</footer>
</Layout>

<style>
	main, footer {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>