---
interface Props {
	title: string;
	name: string;
	email: string;
	textarea: string;
    submit: string;
}
const { title, name, email, textarea, submit } = Astro.props;
---

<section>
    <h1 class="form-title">{title}</h1>
      <form method="post" name="f-contact" action="./src/html/formReceived.html" data-netlify="true">

         <label for="name"></label>
         <input id="name" type="text" name="Name" placeholder={name} required>

         <label for="email"></label>
         <input id="email" type="email" name="Email" placeholder={email} required>

         <label for="textarea"></label>
         <textarea id="textarea" rows="5" name="Content" placeholder={textarea} required></textarea>

         <div class="submit-btn-container">
            <input id="title-link" class="title-link submit" type="button" value={submit}>
         </div>
      </form>
</section>